@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");
@import "./component/component.css";
@import "./var/var.css";

* {
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  border: none;
  font-weight: medium;
}
