.header {
  display: flex;
  width: var(--full);
}

.header-banner {
  display: flex;
  justify-content: center;
  align-content: start;
  gap: 200px;
  width: var(--full);
  padding: 4rem 18rem 0px 18rem;
}

.header-banner-wrapper {
  display: flex;
}

.header-text-wrapper {
  display: flex;
  justify-content: start;
  flex-direction: column;
  order: 2;
}

.header-text {
  display: flex;
  font-size: 6rem;
}

.header-sub-text {
  font-size: 30px;
}

.header-sosmed {
  display: flex;
  gap: 40px;
}

.header-images-wrapper {
  display: flex;
  align-items: start;
}

.header-images {
  border-radius: var(--text-s);
  width: clamp(200px, 300px, 600px);
}

.header-button-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.header-button {
  width: auto;
  border-radius: 10px;
  font-size: 2rem;
  padding: 1rem;
  height: auto;
  border: none;
  background-color: var(--blue-200);
  color: white;
  font-weight: var(--font-bold);
}
