.navbar {
  display: flex;
  align-items: center;
  color: white;
  height: 60px;
  justify-content: space-between;
  padding-right: 6rem;
  background-color: rgb(231, 103, 199);
  padding-left: 6rem;
}

.nav-wrapper {
  display: flex;
  color: white;
  align-items: center;
}

.nav-link-wrapper {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  color: white;
  list-style-type: none;
}

.nav-logo {
  font-size: 30px;
  font-weight: bold;
}

.nav-link {
  color: white;
  border: none;
  font-weight: bold;
}
